<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/stylesheets/style.css"
    />
    <script
      src="https://kit.fontawesome.com/814a0fdb0b.js"
      crossorigin="anonymous"
    ></script>
    <title>Event List</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="flex space-between">
          <div>
            <a href="/" class="brand">EventMGM</a>
          </div>
          <div class="right-nav">
            <a href="/events/new" class="events subscribe">Create an event</a>
          </div>
        </nav>
      </div>
    </header>
    <main class="">
      <div class="main-data">
        <aside>
          <h2>Filters</h2>
          <div class="filter">
            <a href="">Programming</a>
            <a href="">Sports</a>
            <a href="">Trekking</a>

            <a href="">Latest</a>
            <a href="">Oldest</a>
            <a href="">Location</a>
          </div>
        </aside>
        <div class="container events-h1">
          <h1>Events List</h1>
          <div class="list">
            <div>
              <a href="">
                <li>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas
                  hic at totam sit quaerat voluptas architecto ut neque maxime
                  earum nesciunt animi, quasi, repellendus ipsam, aliquid
                  pariatur illum cupiditate possimus!
                </li>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="events-nav">
      <div class="container">
        <nav class="footer-nav events-nav">
          <small>Events&copy;All Rights reserved pvt. ltd.</small>
        </nav>
        <div class="flex center">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
